a {
    color:black;
    text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}

li {
  text-decoration: none;
}

nav {
  float: left;
  width: 100px;
  border-right: 1px solid gray;
  padding: 20px;
}

.mainView {
  float:none;
}
